/* Common styles */

.tabs-bar{
	width: 100%;
	height: 30px;
}

.tab{
	height: 30px;
	padding: 0 20px;
	margin-right: 5px;
	background: #00a0e3;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
	cursor: pointer;
}

.tab-active{
	height: 30px;
	padding: 0 20px;
	margin-right: 5px;
	background: #33cc33;
	text-align: center;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	display: inline-block;
}

.tabs-toolbar{
	height: 30px;
	margin-left: 30px;
	display: inline-block;
}

/* end Common Styles */

html, body{
	height: 100%;
	overflow: hidden;
}

.cor-container{
	width: 1200px;
	height: 100%;
	min-width: 1200px;
	min-height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	z-index: 1;
	position: relative;
}

.signup-wnd{
	width: 300px;
	height: 300px;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 20;
}

.signup-header{
	width: 290px;
	margin-left: 5px;
}

.header-block-1{
	width: 130px;
	height: 10px;
	background-color: #81dd82;
	border-radius: 10px 0 0 0;
	display: inline-block;
}

.header-block-2{
	width: 85px;
	height: 10px;
	margin-left: 0px;
	background-color: #68b8ff;
	display: inline-block;
}

.header-block-3{
	width: 65px;
	height: 10px;
	margin-left: 0px;
	background-color: #0090ff;
	border-radius: 0 10px 0 0;	
	display: inline-block;
}

.profile-page{
	width: 1110px;
	height: 100%;
	top: 90px;
	left: 90px;
	margin: 0 0 auto;
	position: absolute;
}

.signup-tabs{
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.signup-body{
	width: 285px;
	margin-top: 25px;
	padding-left: 15px;
}

.signup-footer{
	margin-top: 20px;
	text-align: center;
}

.avatar-wrap{
	display: inline-block;
}

.avatar-xs{
	width: 40px;
	height: 40px;
}

.avatar-sm{
	width: 70px;
	height: 70px;	
}

.avatar-rounded{
	border-radius: 10px;
}

/* TopToolBar */

#top-toolbar{
	width: inherit;
	height: 50px;	
	border-style: solid;
	border-width: 1px;
	border-color: #727271;
	border-radius: 0 0 10px 10px;
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 10;
}

.logo-block{
	width: 120px;
	height: 40px;
	top: 5px;
	left: 10px;
	position: absolute;
}

.search-block{
	width: 400px;
	top: 10px;
	left: 170px;
	position: absolute;
}

.buttons-block{
	width: 150px;
	top: 7px;
	left: 590px;
	position: absolute;
}

.user-block{
	width: 200px;
	top: 5px;
	right: 10px;
	position: absolute;
}

.user-name{
	margin-left: 10px;
	vertical-align: middle;
	font-size: 18px;
	display: inline-block;
}

.user-rating{
	height: 15px;
	bottom: 0;
	right: 20px;
	line-height: 15px;
	border-radius: 10px;
	background-color: #31c833;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
}

/* end TopToolBar */

/* LeftToolBar */

#left-toolbar{
	width: 70px;
	height: inherit;
	top: 90px;
	border-style: solid;
	border-width: 1px;
	border-color: #727271;
	background: #fff;
	position: fixed;
	z-index: 10;
}

.left-btn{
	width: 68px;
	height: 68px;
	background-color: #a2d9f7;
	border-style: solid;
	border-color: #727271;
	border-width: 0 0 1px 0;
	line-height: 68px;
	text-align: center;
}

#home-btn{
	background: url("/coral/images/coral_icons.png") no-repeat -133px 16px #a2d9f7;
}

#home-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -133px -47px #a2d9f7;
}

#dialog-btn{
	background: url("/coral/images/coral_icons.png") no-repeat -276px 16px #a2d9f7;
}

#dialog-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -276px -47px #a2d9f7;
}

#favorite-btn{
	background: url("/coral/images/coral_icons.png") no-repeat -421px 16px #a2d9f7;
}

#favorite-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -421px -47px #a2d9f7;
}

#comment-btn{
	background: url("/coral/images/coral_icons.png") no-repeat -348px 16px #a2d9f7;
}

#comment-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -348px -47px #a2d9f7;
}

#notify-btn{
	background: url("/coral/images/coral_icons.png") no-repeat -204px 16px #a2d9f7;
}

#notify-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -204px -47px #a2d9f7;
}

#communities-btn{
	top: 150px;
	left: 0;
	margin: 0 auto;
	border-width: 1px 0 1px 0;
	background: url("/coral/images/coral_icons.png") no-repeat 8px 16px #a2d9f7;
	position: relative;
}

#communities-btn.active{	
	background: url("/coral/images/coral_icons.png") no-repeat 8px -47px #a2d9f7;
}

#write-btn{
	top: 150px;
	left: 0;
	background: url("/coral/images/coral_icons.png") no-repeat -59px 16px #a2d9f7;
	position: relative;
}

#write-btn.active{
	background: url("/coral/images/coral_icons.png") no-repeat -59px -47px #a2d9f7;
}

#communities-panel{	
	height: 70px;
	width: 400px;
	padding-left: 60px;	
	position: fixed;
	display: none;
	z-index: 10;
}

.back-layout{
	width: 410px;
	height: 80px;
	background: rgba(255, 255, 255, 0.1);
	z-index: 0;
	display: none;
}

.community-wrap{
	margin-left: 5px;
	display: inline-block;
}

@media screen and (max-height: 900px) {
	#communities-btn, #write-btn {
		top: 50px;
	}
}

@media screen and (max-height: 600px){
	#communities-btn, #write-btn {
		display: none;
	}
}

.community-caret{
	width: 8px;
	height: 8px;
	bottom: 2px;
	right: 2px;
	border: 8px solid transparent;
	border-right: 8px solid #193b9c;
	border-bottom: 8px solid #193b9c;
	position: absolute;
}

span.glyphicon-home {
    font-size: 25px;
    color: #193b9c;
}

/* end LeftToolbar */

/* Profile settings */

.page-layout{
	width: 1110px;
	height: inherit;
	padding-top: 10px;
	border-style: solid;
	border-color: #193b9c;
	border-width: 0 1px 1px 1px;
}

.community-bar{
	width: 87px;
	height: 100%;
	margin-top: -10px;
	padding-bottom: 20px;
	float: left;
	position: relative;
}    

.arrow-up{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
}

.content-layout{
	width: 990px;
	margin-left: 20px;
	float: left;
}

.post-layout{

}

.post-status{
	width: inherit;
	height: 30px;
	margin-top: 10px;
}

.post-header{
	width: inherit;
}

.post-title{
	font-size: 22px;
	color: #008dd2;
}

.post-date{
	font-size: 12px;
	color: #ef7f1a;
}

.post-community{	
	font-size: 18px;
	color: #003399;
	display: inline-block;
}

.post-brief{
	text-align: justify;
	font-size: 16px;
	color: #000;
}

.post-author{
	width: 30px;
	height: 30px;
	background: url("/coral/images/user_icon.png");
	line-height: 50px;
	padding-left: 20px;
	float: left;
}

.post-mark{
	height: 30px;
	padding: 3 10px;
	margin-right: 30px;
	line-height: 30px;
	float: left;
}

.mark-plus{
	width: 24px;
	height: 30px;
	background: url("/coral/images/up_icon.png") no-repeat -3px 0px;
	float: left;
}

.mark-minus{
	width: 24px;
	height: 30px;
	margin-left: -4px;
	background: url("/coral/images/down_icon.png") no-repeat 0px 0px;
	float: left;
}

.post-rating{
	height: 18px;
	line-height: 20px;
	padding: 0 10px;
	margin: 4px 2px;
	border-radius: 15px;
	background-color: #31c833;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	float: left;
}

.post-tags{
	height: 16px;
	margin-top: 10px;
	font-size: 12px;
	color: #57a7b3;
}

.post-comments{
	height: 30px;
	padding-left: 19px;
	margin-right: 20px;
	color: #ef7f1a;
	font-weight: bold;
	font-size: 16px;
	background: url("/coral/images/comment_icon.png") no-repeat 0px 0px;
	float: left;
	line-height: 43px;
}

.post-favorite{
	height: 30px;
	padding-left: 35px;
	margin-right: 20px;
	color: #ef7f1a;
	background: url("/coral/images/star_icon.png") no-repeat 0px -3px;
	float: left;
	line-height: 30px;
}

.post-views{
	height: 30px;
	padding-left: 42px;
	margin-right: 20px;
	color: #008dd2;	
	background: url("/coral/images/views_icon.png") no-repeat 0px 0px;
	float: left;
	line-height: 30px;
}

.post-read{

}

.community-name{

}

table.settings{
	width: 900px;
	margin-left: 130px;
	border: 0;
}

.community-avatar{
	margin-bottom: 5px;
	margin-left: 5px;
}

.form-container{
	width: 400px;
}

.avatar-settings{
	margin-right: 30px;
}

.upload-avatar{
	display: none;
}

/* end Profile settings */

/* Auth Window */

#authWindow{
	width: 400px;
	height: 330px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #727271;
	border-radius: 15px;
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 40;
}

.auth-header{
	width: 100%;
	height: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.auth-block-1{
	width: 45%;
	height: 10px;
	background-color: #81dd82;
	margin-right: 10px;
	border-radius: 10px 0 0 0;
	display: inline-block;
}

.auth-block-2{
	width: 25%;
	height: 10px;
	background-color: #68b8ff;
	margin-right: 10px;
	display: inline-block;
}

.auth-block-3{
	width: 22%;
	height: 10px;
	border-radius: 0 10px 0 0;
	background-color: #0090cf;	
	display: inline-block;
}

.auth-body{
	width: 100%;
	height: 100%;
	padding: 20px 10px 20px 10px;
}

#signUpForm{
	display: none;
}

/* end Auth Window */