#top-toolbar{
	width: inherit;
	height: 50px;	
	border-style: solid;
	border-width: 1px;
	border-color: #727271;
	border-radius: 0 0 10px 10px;
	background: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 10;
}

.logo-block{
	width: 120px;
	height: 40px;
	top: 5px;
	left: 10px;
	position: absolute;
}

.search-block{
	width: 400px;
	top: 10px;
	left: 170px;
	position: absolute;
}

.buttons-block{
	width: 150px;
	top: 7px;
	left: 590px;
	position: absolute;
}

.user-block{
	width: 200px;
	top: 5px;
	right: 10px;
	position: absolute;
}

.user-name{
	margin-left: 10px;
	vertical-align: middle;
	font-size: 18px;
	display: inline-block;
}

.user-rating{
	height: 15px;
	bottom: 10px;
	right: 20px;
	line-height: 15px;
	border-radius: 10px;
	background-color: #31c833;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
}